// variables
$mainColor: #444;
$mainBackground: #fff;

$container: 1100px;
$colGups: 15px;


$textFont-size: 1rem;  // 16px
$linkColor: blue;
$mainFont: 'Aleo', serif;
@font-face {
    font-family: 'wc_mano_negra_btaregular';
    src: url('../fonts/WCManoNegraBta.otf') ;
    font-weight: normal;
    font-style: normal;

}
$breakpoints: (
        xs: 0,
        sm: 575px,
        md: 768px,
        lg: 1025px,
        xl: 1200px,
        xxl: 1440px
);

  //===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}


//===========  mixins end ===========//

@mixin col-create(){
  @while $col > 0 {

    .col-#{$col} {

      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}
//import
@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,700&display=swap');

.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
}

// layout

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -$colGups;
  margin-left: -$colGups;
}

[class^='col']{
  width: 100%;
  min-height: 1px;
}

@include col-create()


// main styles

body{
  font-family: sans-serif;
  font-size: 1rem;
}

//buttons
a, button{
  transition: .3s ease-in;
  transition-property: color, background-color, opacity;
  svg{
    fill:currentColor;
  }
}
button, .button{
  cursor: pointer;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav{
  display: inline-flex;
  &__item{
  font-size: 0.875rem;
  font-family: $mainFont;
  color: rgb(59, 59, 59);
  line-height: 4.286;
  }
  &__link:hover{
    color: red;
  }
}
.nav__item + .nav__item{
  margin-left: 50px;
}
.resto__container{
  height: 575px;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  border-bottom: 5px solid #F34949;
}
.resto{
  margin: 0 auto;
  &__title{
  font-size: 6.25rem;
  font-family: 'wc_mano_negra_btaregular', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: normal;
  letter-spacing: -0.08em;
  }
  &__subtitle{
  font-size: 1rem;
  font-family: $mainFont;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  &:before, &:after{
    content: '';
    width: 45px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 500px;
  }
  &:before{
    left: 500px;
  }
  }
}
.main__title{
  margin: 0 auto 70px;
  text-align: center;
  background-image: url('../img/Shape 13.png');
  background-repeat: no-repeat;
  max-width: 150px;
  height: 75px;
  font-size: 20px;
  font-family: $mainFont;
  color: rgb(255, 255, 255);
  line-height: 3;
}
.menu__container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
}
.menu-page + .menu-page{
  margin-left: 100px;
}
.menu{
  display: flex;
  &__item{
    width: 100%;
    margin-bottom: 60px;
  }
  &__title{
  font-size: 1rem;
  font-family: $mainFont;
  color: rgb(85, 85, 85);
  }
  &__about{
  font-size: 0.75rem;
  font-family: $mainFont;
  color: rgb(183, 183, 183);
  font-style: italic;
  }
  &__price{
  font-size: 1rem;
  font-family: $mainFont;
  color: rgb(85, 85, 85);
  }
 &__line{
    width: 50%;
    height: 1px;
    background-color: #e3e1e1;
    margin-right: 40px;
    margin-left: auto;
 }
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__btn{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(215, 213, 213);
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
  text-align: center;
  font-size: 0.975rem;
  font-family: $mainFont;
  color: rgb(183, 183, 183);
  margin: 20px auto 200px;
  display: inherit;
  position: relative;
}
.btn__line{
  background-color: rgb(183, 183, 183);
  width: 1px;
  height: 12px;
  position: absolute;
  right: 40px;
  top: 13px;
}
.btn__arrow{
  margin-left: 30px;
}
.featured-container{
  max-width: $container;
  margin: 0 auto;
}
.featured{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
  &__title{
  font-size: 1.25rem;
  font-family: $mainFont;
  color: rgb(59, 59, 59);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  position: relative;
  &:after{
  content: '';
  background-color: rgb(229, 227, 227);
  position: absolute;
  right: -120%;
  width: 200px;
  height: 1px;
  top: 30px;
  }
  }
  &__slider{
  max-width: 70px;
  .select{
  width: 10px;
  height: 10px;
  background-color: #dedede;
  border-radius: 50%;
  border: none;
  &:hover{
    background-color: #9b9b9b;
  }
}
.select + .select{
  margin-left: 5px;
  }
}
}
.dish{
  display: flex;
  &__title, &__price{
  font-size: 1rem;
  font-family: $mainFont;
  color: rgb(85, 85, 85);
  }
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 0 10px;
  }
}
.col-3 + .col-3{
  margin-left: 60px;
}
.gallery-container{
  max-width: $container;
  margin: 150px auto 0;
}
.gallery{
  margin-bottom: 75px;
  &__title{
  font-size: 1.25rem;
  font-family: $mainFont;
  color: rgb(59, 59, 59);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  position: relative;
  &:after{
  content: '';
  background-color: rgb(229, 227, 227);
  position: absolute;
  right: -120%;
  width: 200px;
  height: 1px;
  top: 30px;
  left: 150px;
  }
}
}
.gallery-img{
  display: flex;
  margin-bottom: 200px;
}
.col-4{
  display: flex;
  flex-direction: column;
}
.ba-footer{
  width: 100%;
  background-color: #3b3b3b;
}
.footer{
  max-width: $container;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}
.place, .adres, .number{
  font-size: 1rem;
  font-family: $mainFont;
  color: rgb(255, 255, 255);
  line-height: 1.875;
  text-align: left;
  font-weight: lighter;
  letter-spacing: 0.05em;
}
.place, .number{
  font-weight: bold;
}
.footer__list{
  font-size: 1rem;
  font-family: $mainFont;
  color: rgb(255, 255, 255);
  line-height: 2.188;
  font-weight: normal;
}
.copywrite{
  font-size: 0.975rem;
  font-family: $mainFont;
  color: rgb(236, 236, 236);
  line-height: 2.143;
  font-weight: lighter;
  margin-top: 25px;
.copy{
    font-weight: bold;
  }
}